
/* ---------------  --------------- Header ---------------  --------------- */

.page-header {
  height: 120px;
  margin-bottom: 120px;
}

.page-header__column {
  float: left;
}

.page-header__column--logo {
  margin-right: 25px;
}

.page-header__column--logo a {
  display: block;
  width: 150px;
  height: 120px;
  background-image: url(../images/logo/logo.png);
  background-repeat: no-repeat;
  background-position: 0 23px;
  color: transparent;
}

.page-header__column--menu-hamburger {
  display: none;
}

.page-header__column--menu {
  position: relative;
  /* margin-right: 27px; */
  margin-right: 9px;
}

.page-header__column--menu-link,
.page-header__column--submenu-link {
  float: left;
}

.page-header__column--menu-link a {
  display: block;
  height: 120px;
  padding-top: 57px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.page-header__column--menu-link a:hover {
  color: #018f3c;
}

.page-header__column--menu-active {
  position: relative;
  border-bottom: 3px solid #018f3c;
}

.page-header__column--menu-active span {
  color: #018f3c;
}

.page-header__column--menu-active::after {
  position: absolute;
  top: 99px; 
  left: 50%;
  content: '';
  margin-left: -10px;  
  border: 10px solid transparent;
  border-bottom-color: #018f3c;
}  

.page-header__column--submenu {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%; 
  height: 60px;
  background-color: #efece7;
}

.page-header__column--submenu-link a {
  height: 60px;
  font-size: 14px;
  line-height: 60px;
  padding: 0 16px;
}

.page-header__column--submenu-link span {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.page-header__column--submenu-link a:hover {
  color: #000000;
}

.page-header__column--submenu-link span:hover {
  border-bottom: 1px solid #a8a6a2;
}

.page-header__column--submenu-active {
  background-color: #ffa800;
}

.page-header__column--submenu-link .page-header__column--submenu-active {
  color: #ffffff;
}

.page-header__column--submenu-link .page-header__column--submenu-active:hover  {
  color: #ffffff;
}

.page-header__column--submenu-active span:hover {
  border-bottom: 1px solid #ffc24c;
}

.page-header__column--submenu-platform,
.page-header__column--submenu-company,
.page-header__column--submenu-help {
  position: absolute;
  /* top: 120px; */ 
  left: 0;
  z-index: 1;
}

.page-header__column--submenu-platform,
.page-header__column--submenu-company {
  display: none;
}

.page-header__column--search {
  margin-top: 53px;
  margin-right: 33px;
}

.page-header__column--login-seller {
  margin-top: 52px;
  margin-right: 5px;
}

.page-header__column--registration-seller {
  position: relative;
  width: 220px;
  height: 46px;
  border: 3px solid #ffa800;
  border-radius: 30px;
  margin-top: 40px;
}

.page-header__column--registration-seller:hover {
  background-color: #ffa800;
}

.header-icon {
  display: block;
  width: 20px;
  height: 21px;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  color: transparent;
}

.header-icon--search {
  background-position: -293px -221px;
  border: none;
}

.header-icon--login {
  background-position: -210px -221px;
}

.header-icon--registration {
  font-size: 13px;
  font-weight: 600;
  line-height: 42px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 25px;
  color: #000000;
}

.header-icon--registration::before {
  position: absolute;
  left: 24px;
  top: 9px;
  content: '';
  /* display: block; */
  width: 26px;
  height: 22px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
  background-position: -858px -483px;
}

/* ---------------  --------------- Footer ---------------  --------------- */

.page-footer {
  min-height: 245px;
  background-color: #f2ede7;
  clear: both;
}

.page-footer__columns {
  overflow: hidden; 
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  padding-bottom: 45px;
  color: #605e5c;
}

.page-footer__columns a {
  text-decoration: none;
  color: #605e5c;
}

.page-footer__columns a:hover {
  color: #177a93;
}

.page-footer__column {
  float: left;
  width: 25%;
  margin-top: 41px;
  padding-left: 2px;
}

.contact-icon::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 5px;
  background-image: url(../images/main_sprite.png);
  background-repeat: no-repeat;
}

.contact-icon--copyright::before {
  background-position: -858px -779px;
}

.contact-icon--email::before {
  background-position: -858px -733px;
}

.contact-icon--skype::before {
  background-position: -858px -756px;
}

.contact-icon--email a,
.contact-icon--skype a {
  color: #177a93;
  border-bottom: 1px solid #177a93;
}

.contact-icon--email a:hover,
.contact-icon--skype a:hover {
  color: #ffa800;
  border-bottom: 1px solid #ffa800;
}

.page-footer__column--sm {
  float: right;
  margin-top: 50px;
  padding-left: 0;
}

.social-icon {
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 35px;
  margin-right: 1px;
  border-radius: 5px;
  background-image: url("../images/main_sprite.png");
  background-repeat: no-repeat;
}

.social-icon a {
  display: block;
  width: inherit;
  height: inherit; 
  color: transparent;
}

.social-icon a:hover {
  color: transparent;
}

.social-icon--vk {
  background-position: -680px -558px;
}

.social-icon--vk:hover {
  background-position: -637px -558px;
}

.social-icon--fb {
  background-position: -696px -782px;
}

.social-icon--fb:hover {
  background-position: -782px -782px;
}

.social-icon--tw {
  background-position: -729px -282px;
}

.social-icon--tw:hover {
  background-position: -729px -509px;
}

.social-icon--blog {
  background-position: -723px -558px;
}

.social-icon--blog:hover {
  background-position: -729px -417px;
}

.social-icon--hh {
  background-position: -729px -374px;
}

.social-icon--hh:hover {
  background-position: -772px -648px;
}

.social-icon--gp {
  background-position: -858px 0;
}

.social-icon--gp:hover {
  background-position: -653px -782px;
}

.payment-system__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 44px;
}

.payment-system__item:nth-child(1) {
  margin-left: 5px;
}

.payment-system__item:nth-child(2) {
  margin-right: 49px;
}

.payment-system__item:nth-child(3) {
  margin-right: 51px;
}

.payment-system__item:nth-child(4) {
  margin-right: 53px;
}

.payment-system__item:nth-child(6) {
  margin-right: 38px;
}

.payment-system__item:nth-child(7) {
  margin-right: 42px;
}

.payment-system__item:nth-child(8) {
  margin-right: 39px;
}