
@media screen and (max-width: 1024px) {

  /* ---------------  Header --------------- */

  .page-header {
    margin-bottom: 40px;
  }

  .page-header__column--logo {
    margin-right: 168px;
  }

  .page-header__column--logo a {
    background-image: url(../images/logo/logo-sm.png);
    background-position: 42px 35px;
  }

  .page-header__column--menu-hamburger {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 57px;
    margin-right: 29px;
    cursor: pointer;
  }

  .page-header__column--menu-hamburger::before {
    position: absolute;
    top: 1px;
    left: -19px;
    content: '';
    /* display: block; */
    width: 13px;
    height: 12px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -356px -204px;
  }

  .page-header__column--menu {
    display: none;
  }

  .page-header__column--menu-link a {
    padding-top: 0;
  }

  /* Выпадающее меню */

  .page-header__column--menu-hamburger:hover {
    color: #ffa800;
  }

  .page-header__column--menu-hamburger:hover::before {
    background-position: -376px -204px;
  }

  .page-header__column--menu-hamburger:hover::after {
    position: absolute;
    top: 45px;
    left: 3px;
    content: '';
    border: 10px solid transparent;
    border-bottom-color: #018f3c;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu {
    position: absolute;
    top: 117px;
    left: 0;
    display: block;
    width: 100%;
    border-top: 3px solid #018f3c;
    z-index: 2;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    /* display: block; */
    width: 98%;
    height: 10px;
    text-align: left;
    margin-left: 1%;
    box-shadow: 0 2px 10px #b7b4b1;
    z-index: -1;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--submenu-platform,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--submenu-company,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--submenu-help {
    /* position: static; */
    display: block;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--submenu-link {
    float: none;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link a {
    height: 51px;
    font-weight: 700;
    line-height: 52px;
    border-bottom: 1px solid #ffffff;
    background-color: #efece7;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link:last-child a {
    border-bottom: 3px solid #dcdcdc;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link span {
    display: block;
    text-align: center;
    padding-left: 28px;
    border-bottom: none;
    transition: none;
  }

  .link-wrapper {
    position: relative;
    /* max-width: 730px; */
    width: 730px;
    margin: 0 auto;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link a + ul {
    position: relative;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link a + .page-header__column--submenu-platform .page-header__column--submenu-link,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link a + .page-header__column--submenu-company .page-header__column--submenu-link {
    display: none;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link a:hover + .page-header__column--submenu-platform .page-header__column--submenu-link,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link a:hover + .page-header__column--submenu-company .page-header__column--submenu-link {
    display: block;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--platform .link-wrapper::after,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--company .link-wrapper::after,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--help .link-wrapper::after {
    position: absolute;
    top: 24px;
    right: 28px;
    content: '';
    border: 7px solid transparent;
    border-top-color: #000000;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--platform .page-header__column--submenu-link .link-wrapper::after,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--company .page-header__column--submenu-link .link-wrapper::after,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--help .page-header__column--submenu-link .link-wrapper::after {
    display: none;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--platform a:hover .link-wrapper::after,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--company a:hover .link-wrapper::after,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--help a:hover .link-wrapper::after {
    border-top-color: #018f3c;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link .page-header__column--menu-active .link-wrapper::after {
    border-top-color: #018f3c;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link .page-header__column--menu-active {
    text-align: left;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link .page-header__column--menu-active::after {
    display: none;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--submenu-link a {
    height: 39px;
    font-weight: 400;
    line-height: 39px;
    border-bottom: 1px solid #efece7;
    background-color: #ffffff;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link:last-child .page-header__column--submenu-link a {
    border-bottom: 1px solid #efece7;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--submenu-link a:hover {
    color: #ffa800;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--submenu-link span {
    margin-left: auto;
    margin-right: auto;
    padding-left: 46px;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--submenu-link .page-header__column--submenu-active {
    background-color: #ffa800;
    color: #ffffff;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--submenu-link .page-header__column--submenu-active:hover {
    color: #ffffff;
  }

  /* END - Выпадающее меню */

  .page-header__column--submenu {
    height: 3px;
    top: 117px;
  }

  .page-header__column--login-seller {
    margin-right: 25px;
  }


  /* --------------- Footer --------------- */

  .page-footer__columns {
    padding-bottom: 35px;
  }

  .page-footer__columns-left,
  .page-footer__columns-right {
    float: left;
    width: 50%;
  }

  .page-footer__columns-left {
    padding-left: 40px;
  }

  .page-footer__column {
    float: none;
    width: 100%;
  }

  .page-footer__column--center {
    margin-top: 20px;
  }

  .page-footer__columns-right {
    padding-left: 10px;
  }

  .page-footer__column--sm {
    margin-top: 45px;
  }

  .social-icon {
    margin-right: 1px;
  }

  .page-footer__payment-system {
    text-align: left;
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .payment-system__item:nth-child(n) {
    margin-right: 14px;
  }

  .payment-system__item:nth-child(1) {
    margin-left: 0;
  }

  .payment-system__item:nth-child(4),
  .payment-system__item:nth-child(7) {
    margin-right: 12px;
  }
}


@media screen and (max-width: 749px) {

  /* ---------------  Header --------------- */

  .page-header__column--logo {
    margin-right: 28px;
    margin-left: 50px;
  }

  .page-header__column--logo a {
    width: 107px;
    background-position: 7px 35px;
  }

  .page-header__column--menu-hamburger {
    /* position: absolute;  */
    left: 49px;
  }

  .page-header__column--menu-hamburger::before {
    top: 58px;
    left: -206px;
  }

  .page-header__column--menu-hamburger span {
    display: none;
  }

  .hamburger-wrapper {
    /* max-width: 340px; */
    margin: 0 auto;
  }

  /* Выпадающее меню */

  .page-header__column--menu-hamburger:hover::after {
    top: 100px;
    left: -208px;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--menu-link span {
    padding-left: 19px;
  }

  .link-wrapper {
    /*  max-width: 340px; */
    width: 340px;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--platform .link-wrapper::after,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--company .link-wrapper::after,
  .page-header__column--menu-hamburger:hover + .page-header__column--menu .menu-link--help .link-wrapper::after {
    right: 20px;
    border: 6px solid transparent;
    border-top-color: #000000;
  }

  .page-header__column--menu-hamburger:hover + .page-header__column--menu .page-header__column--submenu-link span {
    padding-left: 37px;
  }

  /* END - Выпадающее меню */

  .page-header__column--registration-seller {
    width: 46px;
  }

  .header-icon--registration span {
    display: none;
  }

  .header-icon--registration::before {
    left: 7px;
  }

  
  /* --------------- Footer --------------- */

  .page-footer__columns {
    text-align: center;
    padding-bottom: 30px;
  }

  .page-footer__columns-left,
  .page-footer__columns-right {
    position: relative;
    float: none;
    width: 100%;
  }

  .page-footer__columns-left {
    padding-left: 0;
  }

  .page-footer__column--left {
    margin-left: -8px;
  }

  .page-footer__column--center {
    margin-left: 2px;
  }

  .page-footer__column--sm {
    margin-top: 85px;
    margin-left: -1px;
  }

  .social-icon {
    margin-right: 0;
  }

  .page-footer__column--right {
    position: absolute;
    top: -125px;
    left: 1px;
  }

  .page-footer__payment-system {
    text-align: center;
    padding-left: 25px;
    padding-bottom: 10px;
  }

  .payment-system__item:nth-child(n) {
    margin-right: 16px;
  }

  .payment-system__item:nth-child(5),
  .payment-system__item:nth-child(6),
  .payment-system__item:nth-child(7),
  .payment-system__item:nth-child(8) {
    padding-top: 7px;
  }

  .payment-system__item:nth-child(9) {
    margin-top: -2px;
  }
}