
@media screen and (max-width: 1024px) {

  .container {
    width: 670px;
  }

  /* ---------------  --------------- Header ---------------  --------------- */

  .page-header__logo {
    margin-right: 0;
  }

  .page-header__logo a {
    width: 100px;
    background-image: url(../images/logo/logo-sm.png);
    background-position: 1px 35px;
  }

  .page-header__title {
    float: right;
  }

  .page-header__search input[type="search"] {
    width: 495px;
  }

  /* ---------------  --------------- Main content ---------------  --------------- */

  .page-content__applications {
    margin-bottom: 27px;
    padding-bottom: 30px;
  }

  .application {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 240px;
  }

  .application::before {
    left: 162px;
  }

  .page-content__articles h2 {
    padding-bottom: 3px;
  }

  .page-content__articles ul {
    margin-bottom: 44px;
  }

  .article-title {
    float: none;
    display: block;
    margin-bottom: 26px;
  }

  .article-title a {
    font-size: 16px;
    line-height: 22px;
  }

  .article-date {
    float: none;
    line-height: 11px;
  }

  .all-articles {
    width: 100%;
    margin-bottom: 70px;
  }

  /* ---------------  --------------- Page content ---------------  --------------- */

  .article-content::before,
  .article-content::after,
  .article-links::before,
  .article-links::after {
    width: 40px;
    height: 100%;
    background-color: #efece7;
    border: none;
  }

  .article-links::before,
  .article-links::after {
    position: absolute;
    content: "";
    display: block;
  }

  .article-content::before,
  .article-links::before {
    top: 0;
    left: -40px;
  }

  .article-content::after,
  .article-links::after {
    top: 0;
    right: -40px;
    transform: none;
  }

  .article-content {
    padding-left: 0;
    padding-right: 15px;
  }

  .article-content__ol-list img {
    display: block;
    margin-bottom: 5px;
  }

  .article-details {
    margin-bottom: 26px;
  }

  .article-details__block {
    float: none;
    width: 100%;
  }

  .article-details__block p {
    padding-left: 0;
    padding-top: 27px;
  }

  .article-links {
    position: relative;
    padding-left: 0;
  }

  .button-back:last-child {
    margin-bottom: 40px;
  }

  /* ---------------  --------------- Footer ---------------  --------------- */

  .page-footer__columns {
    padding-bottom: 35px;
  }

  .page-footer__columns-left,
  .page-footer__columns-right {
    float: left;
    width: 50%;
  }

  .page-footer__column {
    float: none;
    width: 100%;
  }

  .page-footer__column--left {
    border-right: none;
  }

  .page-footer__column--center {
    margin-top: 20px;
    border-right: none;
  }

  .page-footer__column--sm {
    margin-top: 45px;
  }

  .social-icon {
    margin-right: 1px;
  }

}


@media screen and (max-width: 749px) {

  /* ---------------  --------------- Header ---------------  --------------- */

  .page-header__logo {
    margin-right: 28px;
    margin-left: 50px;
  }

  .page-header__logo a {
    width: 107px;
    background-position: 7px 35px;
  }

  /* ---------------  --------------- Footer ---------------  --------------- */

  .page-footer__columns {
    text-align: center;
    padding-bottom: 30px;
  }

  .page-footer__columns-left,
  .page-footer__columns-right {
    position: relative;
    float: none;
    width: 100%;
  }

  .page-footer__columns-left {
    padding-left: 0;
  }

  .page-footer__column--left {
    margin-left: -8px;
  }

  .page-footer__column--center {
    margin-left: 2px;
  }

  .page-footer__column--sm {
    margin-top: 85px;
    margin-left: -1px;
  }

  .social-icon {
    margin-right: 0;
  }

  .page-footer__column--right {
    position: absolute;
    top: -125px;
    left: 1px;
  }

}