
@media screen and (max-width: 1024px) {

  /* ---------------  Header --------------- */

  .page-header {
    margin-bottom: 40px;
  }

  .page-header__logo {
    margin-right: 168px;
  }

  .page-header__logo a {
    background-image: url(../images/logo/logo-sm.png);
    background-position: 42px 35px;
  }

  /* --------------- Footer --------------- */

  .page-footer__columns {
    padding-bottom: 35px;
  }

  .page-footer__columns-left,
  .page-footer__columns-right {
    float: left;
    width: 50%;
  }

  .page-footer__columns-left {
    padding-left: 40px;
  }

  .page-footer__column {
    float: none;
    width: 100%;
  }

  .page-footer__column--center {
    margin-top: 20px;
  }

  .page-footer__columns-right {
    padding-left: 10px;
  }

  .page-footer__column--sm {
    margin-top: 45px;
  }

  .social-icon {
    margin-right: 1px;
  }

}


@media screen and (max-width: 749px) {

  /* ---------------  Header --------------- */

  .page-header__logo {
    margin-right: 28px;
    margin-left: 50px;
  }

  .page-header__logo a {
    width: 107px;
    background-position: 7px 35px;
  }

  /* --------------- Footer --------------- */

  .page-footer__columns {
    text-align: center;
    padding-bottom: 30px;
  }

  .page-footer__columns-left,
  .page-footer__columns-right {
    position: relative;
    float: none;
    width: 100%;
  }

  .page-footer__columns-left {
    padding-left: 0;
  }

  .page-footer__column--left {
    margin-left: -8px;
  }

  .page-footer__column--center {
    margin-left: 2px;
  }

  .page-footer__column--sm {
    margin-top: 85px;
    margin-left: -1px;
  }

  .social-icon {
    margin-right: 0;
  }

  .page-footer__column--right {
    position: absolute;
    top: -125px;
    left: 1px;
  }

}